.container {
  position: absolute;
  height: 100%;
  background: var(--white);
  display: flex;
  width: 4.5rem;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.container nav {
  width: 100%;
}

.item {
  transition: width 2ms;
  padding: 2rem;
  text-align: center;
  border-left: 4px solid transparent;
}

.home {
  border-left: 4px solid var(--blue);
  background: url('/icons/blue-home.png') no-repeat center;
}

.ranking {
  background: url('/icons/gray-ranking.png') no-repeat center;
}

.logo {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background: url('/logo.png') no-repeat center;
}
